{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block main %}
<div class="container-fluid p-1">
  <div class="row pl-5">
    <div class="col-sm-3 pl-5">
      <h4 class="pl-5">Happy Users Say&hellip;</h4>
    </div>
    <div class="col-sm-9 pt-1 text-warning font-weight-bold font-italic">
      <div id="myquotes" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>"I have never had more fun than I do playing Anagram Hunt.
              It is the best game ever invented!" -- Justin Jess</p>
          </div>
          <div class="carousel-item">
            <p>"I have learned a lot from these games!" -- Jenny</p>
          </div>
          <div class="carousel-item">
            <p>"Great work, thank you!" -- anonymous</p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="justify-content-between p-1">
  <div class="row">
    <div class="col-sm-6 p-4">
      <img src="{% static 'images/anagram.jpg' %}" alt="Anagram Image" 
      class="img-fluid" height="300px" width="425px">
      <h2>Anagram Hunt</h2>
      <p>This game challenges your ability to guess anagrams based on the 
        word length you choose. You will be scored by the number of correct answers
        and you will be given a 60 minute timer to get as many correct answers. <strong>Login is required to play</strong>. Good luck and 
        enjoy the game!</p>
        {% if not user.is_authenticated %}
          <button type="button" class="btn btn-info"><a class="text-white nounderline" href="{% url 'account_login' %}">Login</a></button>
        {% else %}
          <button type="button" class="btn btn-info"><a class="text-white nounderline" href="">Play</a></button>
        {% endif %}
    </div>
    <div class="col-sm-6 p-1">
      <img src="{% static 'images/math.jpg' %}" alt="Math Image" 
      class="img-fluid" height="300px" width="425px">
      <h2>Math Facts Practice</h2>
      <p>It is time to go back to school and check your math skills. This is a fun
        interactive game that lets you pick the max number length and operator.  There 
        is a 30 minute timer to get as many correct answers as possible to calculate your 
        score.  <strong>Login is required to play</strong>. Have fun!
      </p>
        {% if not user.is_authenticated %}
          <button type="button" class="btn btn-info"><a class="text-white nounderline" href="{% url 'account_login' %}">Login</a></button>
        {% else %}
          <button type="button" class="btn btn-info"><a class="text-white nounderline" href="{% url 'mathgame:start' %}">Play</a></button>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}