{% extends "_base.html" %}

{% block title %}Math Facts Leaderboard{% endblock %}
{% block main %}
  <a class="btn btn-info btn-sm float-right" href="{% url 'mathgame:start' %}">
    Play Game
  </a>
  <h2>Math Facts Leaderboard</h2>
  <div class="table-responsive">
    <table class="table table-striped" style="min-width: 500px">
      <thead>
        <tr>
          <th>Date</th>
          <th>Game</th>
          <th>Operation</th>
          <th>Max Number</th>
          <th>Username</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for mathgame in mathgame_list %}
          <tr>
            <td>
              {{ mathgame.updated }}</a>
            </td>
            <td>
              {{ mathgame.category }}
            </td>
            <td>
              {{ mathgame.get_operation_display }}
            </td>
            <td>
              {{ mathgame.max_number }}
            </td>
            <td>
              {{ mathgame.user }}
            </td>
            <td>
              {{ mathgame.score }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% include 'includes/pagination.html' %}
{% endblock %}