{% extends "_base.html" %}

{% block title %}Math Facts Practice{% endblock %}
{% block main %}
  <div class="card border-info m-auto mb-3 text-center"
    style="max-width: 30rem">
    <h1>Math Facts Practice</h1>
    <div class="card-header font-weight-bold">{{ mathgame.get_operation_display }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title text-warning font-weight-bold">Times Up!</h5>
    </div>
    <div class="card-footer">
      <h1>Your final score is:</h1>
      <h1 class="font-weight-bolder">{{ mathgame.score }}</h1>
      <br>
      <small class="text-muted">
        Date: {{ mathgame.updated }}
        User: {{ mathgame.user.username }}
      </small>
    </div>
    <a class="btn btn-info" href="">Play Again</a>
  </div>
{% endblock %}