{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Math Facts Practice{% endblock %}
{% block main %}
  <div id="start" class="card border-info m-auto mb-3 p-3"
    style="max-width: 30rem">
    <h1 class="text-center">Math Facts Practice</h1>
    <br>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <a class="btn btn-info btn-block" href="">Go</a>  
    </form>
    <br>
    <ol>
        <li>Select operation.</li>
        <li>Select max number.</li>
        <li >Press <strong>Go.</strong></li>
    </ol>
    <p class="font-weight-bold text-center text-uppercase text-warning">How many problems can you solve in 30 seconds?</p>
  </div>
{% endblock %}