{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="https://kit.fontawesome.com/2554e7175e.js" crossorigin="anonymous"></script>
<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
<title>{% block title %}{% endblock %} | Play2Learn</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="{% url 'pages:homepage' %}">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid"
        height="60" width="60"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-expanded="false"
        aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'pages:homepage' %}">Home 
              <span class="sr-only">(current)</span>
            </a>
          </li>
          
          {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Anagram Hunt
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'anagram:list' %}">Leaderboard</a>
                  <a class="dropdown-item" href="{% url 'anagram:anagram-hunt' %}">Play Game</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                  role="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Math Facts Practice
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'mathgame:list' %}">Leaderboard</a>
                  <a class="dropdown-item" href="{% url 'mathgame:math-facts-practice' %}">Play Game</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {% if user.avatar and not form.avatar.errors %}
                 <img src="{{ user.avatar.url }}" alt="Avatar"
                  class="rounded-circle" width="25" height="25">
                {% endif %}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'my-account' %}">My Account</a>
                <a class="dropdown-item" href="">My Game History</a>
                <a class="dropdown-item" href="{% url 'reviews:app' %}">Leave A Review</a>
                <div class="dropdown-divider"></div>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button class="btn dropdown-item">Log out</button>
                </form>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
<main class="m-4 pb-5">
  {% if messages %}
    <ul>
      {% for message in messages %}
      <div class="alert message{{ message.tags }} alert-dismissible" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
            <i class="fas fa-window-close"></i>
          </button>
        </div>
      {% endfor %}
    </ul>
  {% endif %}
  {% block main %}<h2>Welcome!</h2>{% endblock %}
  <br>
</main>
<footer class="fixed-bottom bg-light row">
  <div class="col">
    <div class="float-right m-1 mr-2">Copyright &copy; 2022 Play2Learn</div>
    <nav>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-info" href="{% url 'pages:about-us' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-info" href="{% url 'contactus:app' %}">Contact Us</a>
        </li>
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link text-info" href="/admin/">Admin</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</nav>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
</body>
</html>